<div class="interactive-wrapper">

	<div class="murders-standfirst">In 2018, scattered across almost all London's 33 boroughs there were <span class="murders-standfirst-number"></span> murders of which <span class="murders-standfirst-stabbings"></span> were <span class="murders-standfirst-stabbings">stabbings</span>, <span class="murders-standfirst-shootings"></span><span class="murders-standfirst-shootings"> shootings</span> and <span class="murders-standfirst-others"></span><span class="murders-standfirst-others"> by other means</span>
	</div>

	<div class='murders-type'>
		<div class='tooltip'>
			<div class="tooltip-date"></div>
			<div class="tooltip-name"></div>
			<div class="tooltip-age"></div>
			<div class="tooltip-borough"></div>
			<div class="tooltip-method"></div>
		</div>
		
	</div>
	<div class='small-multiples'></div>

</div>