<div class="interactive-wrapper">
<h2 class="murders-standfirst">In 2018, across almost all London's 33 boroughs there were <span class="murders-standfirst-number">XX</span> murders of which <span class="murders-standfirst-number"> 65</span> were <span class="murders-standfirst-stabbings">stabbings</span>, <span class="murders-standfirst-number">12</span> were<span class="murders-standfirst-shootings"> shootings</span> and <span class="murders-standfirst-number">33</span> were by<span class="murders-standfirst-others"> other means</span></h2>

<div class='murders-type'>
	<div class='map-annotation'>
		<div class="annotation-arrow">
			<svg viewBox="0 0 40.8px 38.5px">
				<g>
					<path class="st0" d="M3.6,33.8l-1-0.1C5,14.5,21.4,0,40.8,0v1C21.9,1,5.9,15.1,3.6,33.8z"/>
					<g>
						<polygon class="st0" points="6.6,33.1 2.8,38.5 0,32.6 		"/>
					</g>
				</g>
			</svg>
		</div>
		<span class="map-annottation-title">35 of the 109</span>
		<span class="map-annottation-text">murders were in the most deprived areas of London</span>
	</div>
	<div class='tooltip'>
		<div class="tooltip-date"></div>
		<div class="tooltip-name"></div>
		<div class="tooltip-age"></div>
		<div class="tooltip-street"></div>
		<div class="tooltip-method"></div>
	</div>
</div>
<div class='small-multiples'></div>

</div>