<div class="interactive-wrapper">
<h2 class="murders-standfirst">In 2018, across almost all London's 33 boroughs there were <span class="murders-standfirst-number">XX</span> murders of which <span class="murders-standfirst-number"> 65</span> were <span class="murders-standfirst-stabbings">stabbings</span>, <span class="murders-standfirst-number">12</span> were<span class="murders-standfirst-shootings"> shootings</span> and <span class="murders-standfirst-number">33</span> were by<span class="murders-standfirst-others"> other means</span></h2>

<div class='murders-type'>
	<div class='map-annotation'>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 161.5 67.4" style="enable-background:new 0 0 161.5 67.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#333333;stroke-miterlimit:10;}
	.st1{fill:#333333;}
	.st2{font-family:"Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;}
	.st3{font-size:20px;}
	.st4{font-family:'Guardian Text Sans Web' , Georgia, serif;}
	.st5{font-size:12px;}
</style>
<g>
	<g>
		<path class="st0" d="M3.1,61.8C5.4,43,21.4,28.5,40.8,28.5"/>
		<g>
			<polygon class="st1" points="6.6,61.1 2.8,66.5 0,60.6 			"/>
		</g>
	</g>
</g>
<text transform="matrix(1 0 0 1 44.5148 16.7425)"><tspan x="0" y="0" class="st1 st2 st3">35 of the 109</tspan><tspan x="0" y="16" class="st1 st4 st5">murders were in the</tspan><tspan x="0" y="32" class="st1 st4 st5">most deprived areas</tspan><tspan x="0" y="48" class="st1 st4 st5">of London</tspan></text>
</svg>


		<!-- <span class="map-annottation-title">35 of the 109</span>
		<span class="map-annottation-text">murders were in the most deprived areas of London</span> -->
	</div>
	<div class='tooltip'>
		<div class="tooltip-date"></div>
		<div class="tooltip-name"></div>
		<div class="tooltip-age"></div>
		<div class="tooltip-street"></div>
		<div class="tooltip-method"></div>
	</div>
</div>
<div class='small-multiples'></div>

</div>